<div class="box">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src="test" alt="sac">
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>Title:</strong>aaaaaaaaa</li>
          <li><strong>Category:</strong>aaaaaaaaa</li>
          <li><strong>Description:</strong>aaaaaaaaa</li>
          <li><strong>Rate:</strong>3.5</li>
          <li><strong>Count:</strong>120</li>
          <li><strong>Price:</strong>100 MAD</li>
        </ul>
      </div>
    </div>
  </div>
</div>
